body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app-container {
  padding: 20px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.songName {
  text-align: center;
  font-size: 80%;
  font-family: sans-serif;
  color: white;
  background: black;
  border: 2px solid orangered;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
}

.upload-container>h1 {
  color: orchid;
  margin: 0;
}

.upload-container input[type="file"] {
  padding: 10px;
  margin: 10px;
  border: 5px solid orangered;
  border-radius: 5px;
  width: 300px;
}

.audio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.audio-scroll-container {
  overflow: scroll;
  border: 5px solid orchid;
  border-radius: 10px;
  max-width: 500px;
  min-width: 500px;
  max-height: 300px;
  min-height: 300px;
  scroll-behavior: smooth;
}

@media (max-width: 500px) {
  .audio-scroll-container {
    max-width: 400px;
    min-width: 400px;
    max-height: 300px;
    min-height: 300px;
  }

}

.audio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  margin-top: 0;
  padding: 10px;
}

.audio-item h3 {
  margin: 0;
}

.sign-out-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border: 5px solid orangered;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  cursor: pointer;
}